*,
html {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
}

.bgColors {
  max-height: 640px;
  display: block;
}

@media screen and (max-width: 425px) {
  .bgColors {
    position: relative;
  }
}

@media screen and (max-width: 1440px) {
  .bgLeft {
    height: 43em;
    width: 27em;
    position: relative;
    background-color: hsl(264, 100%, 61%);
    background-image: linear-gradient(
      to top right,
      hsl(264, 100%, 61%),
      hsl(293, 100%, 63%)
    );
    border-bottom-left-radius: 20em;
    border-bottom-right-radius: 20em;
  }

  .bgRight {
    position: relative;
    background-color: hsla(264.1, 100%, 61%, 0.04);
    height: 45em;
    width: 25em;
    border-top-left-radius: 20em;
    left: 71em;
    top: -68em;
  }
}

.bgLeft {
  height: 43em;
  width: 27em;
  position: relative;
  background-color: hsl(264, 100%, 61%);
  background-image: linear-gradient(
    to top right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-bottom-left-radius: 20em;
  border-bottom-right-radius: 20em;
}

.bgRight {
  position: relative;
  background-color: hsla(264.1, 100%, 61%, 0.04);
  height: 45em;
  width: 25em;
  border-top-left-radius: 20em;
  left: 71em;
  top: -68em;
}

.bgRight {
  position: relative;
  background-color: hsla(264.1, 100%, 61%, 0.04);
  height: 45em;
  width: 25em;
  border-top-left-radius: 20em;
  left: 71em;
  top: -68em;
}

@media screen and (max-width: 425px) {
  .bgLeft {
    height: 22em;
    width: 15em;
    position: relative;
    background-color: hsl(264, 100%, 61%);
    background-image: linear-gradient(
      to top right,
      hsl(264, 100%, 61%),
      hsl(293, 100%, 63%)
    );
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20em;
  }

  .bgRight {
    position: relative;
    background-color: hsla(264.1, 100%, 61%, 0.04);
    height: 35em;
    width: 15em;
    border-top-left-radius: 20em;
    left: 10em;
    top: -46em;
  }
}

.appIntro {
  display: block;
  position: relative;
  top: -600px;
}

@media screen and (max-width: 1440px) {
  .appIntro {
    display: block;
    position: relative;
    top: -600px;
  }
}

@media screen and (max-width: 425px) {
  .appIntro {
    display: block;
    position: relative;
    top: -320px;
  }
}

@media screen and (max-width: 1440px) {
  .rTab {
    width: 28%;
    float: right;
    position: relative;
    left: -260px;
    top: 220px;
    display: flex;
  }

  .lTab {
    width: 20%;
    display: flex;
    left: 340px;
    position: relative;
  }
}

@media screen and (max-width: 425px) {
  .rTab {
    width: 80%;
    top: 630px;
    left: -1px;
  }

  .lTab {
    width: 80%;
    position: relative;
    left: 50px;
    top: -150px;
  }
  .rightTab {
    float: none;
    left: -25px;
    position: relative;
  }
}

.rightTab {
  float: right;
}

.rightTab h1 {
  color: hsl(271, 36%, 24%);
}

.rightTab p {
  color: hsl(270, 7%, 64%);
}

.app {
  height: 42em;
  width: 20.5em;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.14);
  font-size: 14px;
}

.app1 {
  height: 40.5em;
  width: 19em;
  background-color: hsl(270, 20%, 96%);
  border-radius: 25px;
  position: relative;
  top: 0.8em;
  left: 0.8em;
}

.appProfile {
  background-color: hsl(264, 100%, 61%);
  background-image: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  height: 5em;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
  display: block;
}

.whiteSpace {
  height: 1em;
  width: 9em;
  background-color: hsl(0, 0%, 100%);
  left: 4em;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.innerProfile {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-evenly;
  left: 1em;
  position: relative;
}

.backBtn {
  border: transparent;
  outline: transparent;
  background-color: transparent;
  top: 0em;
  border-radius: 0px;
}

.imgBorder {
  border-radius: 50%;
  border: 5px solid #fff;
  left: -1em;
  position: relative;
}

.appProfile h4 {
  color: hsl(271, 36%, 24%);
}

.chatBody {
  top: 1em;
  position: relative;
  height: 470px;
}

.chatApp-left {
  position: relative;
  border-radius: 15px;
  height: 3em;
  width: 14em;
  left: 0.5em;
  background-color: hsla(205.7, 6.5%, 79%, 0.58);
  color: hsl(276, 55%, 52%);
  border-bottom-left-radius: 4px;
}

.chatApp-left p {
  position: relative;
  top: 0.2em;
  left: 0.6em;
}

.chatApp-right {
  position: relative;
  border-radius: 15px;
  height: 3em;
  width: 12em;
  left: 6.5em;
  color: hsl(271, 15%, 43%);
  background-color: hsl(0, 0%, 100%);
  border-bottom-right-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
}

.chatApp-right p {
  position: relative;
  top: 0.2em;
}

.chatApp-right-small {
  position: relative;
  border-radius: 15px;
  height: 2em;
  width: 8em;
  left: 10.5em;
  color: hsl(271, 15%, 43%);
  background-color: hsl(0, 0%, 100%);
  border-bottom-right-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
}

.chatApp-right-small p {
  position: relative;
  top: 0.4em;
  left: 0.2em;
}

.chatApp-left-big {
  position: relative;
  border-radius: 15px;
  height: 5em;
  width: 14em;
  left: 0.5em;
  color: hsl(276, 55%, 52%);
  border-bottom-left-radius: 4px;
  background-color: hsla(205.7, 6.5%, 79%, 0.58);
}

.dogImg {
  position: relative;
  left: 8.5em;
  width: 15em;
}

.chatApp-left-big p {
  position: relative;
  top: 0.8em;
  left: 0.2em;
}

ul li {
  list-style: none;
}

.pricing {
  background-color: hsl(293, 100%, 63%);
  background-image: linear-gradient(
    to left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  height: 2.2em;
  width: 12em;
  border-radius: 8px;
  border-bottom-left-radius: 4px;
  position: relative;
  left: 0.5em;
}

.amount {
  color: hsl(271, 36%, 24%);
  height: 2.2em;
  margin-bottom: 0;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.amount p {
  top: -0.1em;
  position: relative;
}

.msgBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  height: 2.5em;
  width: 18em;
  left: 0.5em;
  top: -0.6em;
}

.msgBar p {
  color: hsl(206, 6%, 79%);
  position: relative;
  top: 0.6em;
  left: 0.5em;
}

.btn {
  top: -0em;
  border: transparent;
  color: hsl(0, 0%, 100%);
}

button {
  background-color: hsl(271, 36%, 24%);
  border-radius: 50px;
  width: 2em;
  height: 2em;
  position: relative;
  left: -1em;
  top: 0.3em;
  color: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 10em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 425px) {
  .attribution {
    top: 22em;
  }
}
